.app {
  height: 100%;
  overflow: hidden;
}

.app-header {
  padding: 0 calc(100vh - 600px);
  border-bottom: 1px solid #ddd;

  .ci {

  }

  .menus {
    padding: 1rem;

    .menu {
      padding: 1rem 1rem;
      font-size: 1.2rem;
      color: #666;
      position: relative;

      > a {
        &.selected {
          color: #000;
          font-weight: 600;
        }
      }

      &:hover {
        .submenus {
          display: flex;
        }
      }

      .submenus {
        display: none;
        background-color: #fff;
        position: absolute;
        top: 3.2rem;
        width: 400px;
        border: 1px solid #eee;
        word-break: keep-all;

        a {
          padding: 1rem;
          &:not(:first-child){
            border-top: 1px solid #eee;
          }
        }
      }
    }
  }


  & + div {
    height: 2000px;
    flex-grow: 1;
    flex-basis: 0;
    overflow: auto;
    padding: 8px;

    section {
      width: 1200px;
      padding: 1rem 0;
    }
  }
}

.company {
  align-items: center;

  .company-info {
    display: grid;
    grid-template-columns: 80px auto;

    dt, dd {
      margin: 0;
      padding: .5rem;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}