.app {
  height: 100%;
  overflow: hidden;
}

.app-header {
  padding: 0 calc(100vh - 600px);
  border-bottom: 1px solid #ddd;

  .ci {
    font-size: 2.5rem;
    color: var(--primary);
  }

  .menus {
    padding: 1rem;


    .menu {
      padding: 1rem 1rem;
      font-size: 1.2rem;
      color: #666;
      position: relative;
      font-family: ONE-Mobile-Title, sans-serif;

      > a {
        &.selected {
          color: #000;
        }
      }

      &:hover {
        .submenus {
          display: flex;
        }
      }

      .submenus {
        display: none;
        background-color: #fff;
        position: absolute;
        top: 3.2rem;
        width: 400px;
        border: 1px solid #eee;
        word-break: keep-all;

        a {
          padding: 1rem;
          font-family: Pretendard, sans-serif;

          &:not(:first-child) {
            border-top: 1px solid #eee;
          }
        }
      }
    }
  }


  & + div {
    height: 2000px;
    flex-grow: 1;
    flex-basis: 0;
    overflow: auto;

    section {
      width: 1200px;
      padding: 5rem 0;
      font-size: 1.2rem;

      h4 {
        text-align: center;
        color: var(--primary);
        font-size: 2rem;
        padding: 2rem 0;
      }

      h5 {
        text-align: center;
      }
    }
  }
}

@keyframes zoom-a {
  0% {
    background-size: 100% auto;
  }
  100% {
    background-size: 110% auto;
  }
}

.company {
  align-items: center;

  .main-slogan {
    background: url('./assets/img/main_bg.png') center center / 110% no-repeat;
    width: 100%;
    flex-shrink: 0;
    height: 600px;
    color: rgb(255, 255, 255);
    font-size: 38px;
    text-align: right;
    animation: zoom-a 2s ease-in-out;
    text-shadow: 1px 1px 1px black;

    section {
      text-align: right;
      font-size: 2.5rem;
      line-height: 1.6em;

      b {
        font-size: 1.25em;
      }
    }
  }

  .company-info {
    display: grid;
    grid-template-columns: 100px auto;

    dt, dd {
      margin: 0;
      padding: .5rem;
    }
  }
}

h1, h2, h3, h4{
  margin: 0;
  font-family: ONE-Mobile-Title, sans-serif;
  font-weight: normal;
}

h3 {
  font-size: 2.3rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

dl {
  display: grid;
  grid-template-columns: 150px auto;
  dt, dd {
    padding: .5rem;
  }

  dt {
    color: #666666;
  }
}